auth_modules:
  foo1: # Set this to any name you want
    type: userpass
    userpass:
      username: {{ postgres_exporter_user }}
      password: {{ postgres_exporter_password }}
    options:
      # options become key=value parameters of the DSN
      sslmode: {{ postgres_exporter_ssl }}