[Unit]
Description={{ role_name }}
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/{{ role_name }} --config.file /etc/default/{{ role_name }}.yml

[Install]
WantedBy=multi-user.target

